@import './variables';

/*
The styles in this stylesheet are global element styles
*/

html {
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: $arial;
}

body {
  min-height: 100vh;
  background: url("/assets/images/background_gradient.png") no-repeat;
  background-size: 100% 100%;
}

.bold-text {
  font-weight: bold;
}

.desktop {
  display: none;
}

input.error-highlight {
  border: solid 2px $red !important;
  background-color: $light-red !important;
}

form {
  position: relative;
}

.form-error {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 6;

  p {
    background-color: $light-red;
    color: $red;
    width: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
  }
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.waiting-animation {
  display: block;
  margin: auto;
}

.dropdown-container {
  position: relative;

  span {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .dropdown-list {
    display: none;
  }

  .dropdown-list.list-open {
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;
    z-index: 5;
    position: relative;
    top: 40px;

    li {
      list-style: none;
      display: block;
      padding: 14px 0 14px 14px;
      background-color: $light-blue;
      color: $dark-blue;
      border: 1px solid $medium-blue;
    }

    li:hover {
      background-color: $orange;
      color: $white;
      cursor: pointer;
    }

    li:active {
      background-color: $dark-blue;
      color: $white;
      cursor: pointer;
    }
  }
}

.save-container {
  border-top: 1px solid $dark-blue;
  display: flex;
  margin: 20px auto 0;
  max-width: 400px;
  padding-top: 20px;

  .cancel-button {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 17px 0;
  }

  button {
    flex-grow: 1;
    margin-bottom: 0 !important;
  }
}

.page-title {
  font-size: 16px;
  margin: 10px 0 20px 0px;
}



@media (min-width: $desktop) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none !important;
  }

  .form-error {
    top: 65px;
  }
}
