@import './variables';

/*
The styles in this stylesheet are global element styles
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: $arial;
  min-height: 100% !important;
  height: 100%;
}

.bold-text {
  font-weight: bold;
}

.desktop {
  display: none;
}

input.error-highlight {
  border: solid 2px $red !important;
  background-color: $light-red !important;
}

form {
  position: relative;
}

.form-error {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 6;

  p {
    background-color: $light-red;
    color: $red;
    width: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
  }
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.waiting-animation {
  display: block;
  margin: auto;
}

@media (min-width: $desktop) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none !important;
  }

  .form-error {
    top: 65px;
  }
}
