@import './variables';

/*
The styles in this stylesheet are global element styles
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: $arial;
  min-height: 100% !important;
  height: 100%;
}

.bold-text {
  font-weight: bold;
}

.desktop {
  display: none;
}

input.ng-invalid.ng-dirty.ng-touched{
  border: solid 2px $red !important;
  background-color: $light-red !important;
}

input.ng-untouched.ng-pristine.ng-invalid {
  border: 0 !important;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.waiting-animation {
  display: block;
  margin: auto;
}

@media (min-width: $desktop) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none !important;
  }
}
