// Colors

$dark-blue:         #191E50;
$medium-blue:       #616697;
$light-blue:        #CCD1EB;
$white:             #F9FCFE;
$orange:            #FF9018;
$orange-active:     $orange * 1.2;
$red:               #B64646;
$light-red:         $red * 3.2;
$green:             #46B66E;
$yellow:            #FFF8C0;



// Font

$arial:             Arial,Helvetica Neue,Helvetica,sans-serif;
$montserrat:        'Montserrat', sans-serif;
$general-text:      14px;
$highlighted-text:  17px;


// Media Queries
$desktop:           1200px;

