// Colors

$dark-blue:         #191E50;
$light-blue:        #CCD1EB;
$white:             #F9FCFE;
$orange:            #FF9018;
$orange-active:     $orange * 1.2;



// Font

$arial:             Arial,Helvetica Neue,Helvetica,sans-serif;
$montserrat:        'Montserrat', sans-serif;


