@import './mixins';

// Colors

$dark-blue:         #191E50;
$medium-blue:       #616697;
$light-blue:        #CCD1EB;
$white:             #F9FCFE;
$orange:            #FF9018;
$orange-active:     $orange * 1.2;
$red:               #B64646;
$light-red:         $red * 3.2;
$green:             #46B66E;
$yellow:            #FFF8C0;



// Font

$arial:             Arial,Helvetica Neue,Helvetica,sans-serif;
$montserrat:        'Montserrat', sans-serif;
$general-text:      14px;
$highlighted-text:  17px;


// Layout

$mobile-padding: 65px 15px;

// Media Queries
$desktop:           1200px;

// Buttons Styles 


// Light Blue Buttons
.light-blue-button {
  @include light-blue-button;
}

.light-blue-button:before {
  @include light-blue-button-before;
}

.light-blue-button:active {
  @include light-blue-button-active;
}

.light-blue-button:active:before {
  @include light-blue-button-before-active;
}

// Orange Buttons
.orange-button {
  @include orange-button;
}

.orange-button:before {
  @include orange-button-before;
}

.orange-button:active {
  @include orange-button-active;
}

.orange-button:active:before {
  @include orange-button-before-active;
}

// Medium Blue Buttons
.medium-blue-button {
  @include medium-blue-button;
}

.medium-blue-button:before {
  @include medium-blue-button-before;
}

.medium-blue-button:active {
  @include medium-blue-button-active;
}

.medium-blue-button:active:before {
  @include orange-button-before-active;
}

.medium-blue-button:hover {
  text-decoration: underline;
}