@import "../../../sass/variables";
@import "../../../sass/mixins";

#search-results-container.active {
  display: block;
}

.not-bold {
  font-weight: normal;
}

#search-results-container {
  width: 100%;
  position: relative;
  z-index: 1;
  
  .search-result {
    border: 1px solid #a4a9bc;
    width: 100%;
    height: 85px;
    position: relative;
    background-color: $white;
    color: $dark-blue;

    .company-name {
      display: block;
      width: 230px;
      text-decoration: underline;
      position: absolute;
      left: 8px;
      top: 8px;
      font-weight: bold;
    }
    .company-country {
      position: absolute;
      right: 8px;
      top: 8px
    }

    .reviews-avg {
      position: absolute;
      left: 5px;
      bottom: 6px;
    }

    .reviews-avg:after {
      content: '';
      display: block;
      width: 122px;
      height: 20px;
      background: url("/assets/images/reviews.png") no-repeat;
    }

    .reviews-avg-0:after {
      background-position: 1px -247px;
    }
    .reviews-avg-0-5:after {
      background-position: 1px -222px;
    }
    .reviews-avg-1:after {
      background-position: 1px -198px;
    }
    .reviews-avg-1-5:after {
      background-position: 1px -172px;
    }
    .reviews-avg-2:after {
      background-position: 1px -147px;
    }
    .reviews-avg-2-5:after {
      background-position: 1px -123px;
    }
    .reviews-avg-3:after {
      background-position: 1px -98px;
    }
    .reviews-avg-3-5:after {
      background-position: 1px -73px;
    }
    .reviews-avg-4:after {
      background-position: 1px -48px;
    }
    .reviews-avg-4-5:after {
      background-position: 1px -24px;
    }
    .reviews-avg-5:after {
      background-position: 1px -1;
    }


    .reviews-count {
      position: absolute;
      left: 134px;
      bottom: 6px;
    }

    .verification {
      position: absolute;
      right: 8px;
      bottom: 6px;
    }

    .verified:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url('/assets/icons/ic_check_circle_black_24dp_2x.png');
      background-size: contain;
      position: relative;
    }
  }

  .search-result-controls {
    margin: auto;
    height: 185px;
    width: 100%;
    padding: 10px 5% 0;
    position: fixed;
    top: 50px;
    z-index: 1;
    background-color: $medium-blue;

    .drop-shadow-effect {
      display: block;
      width: 100%;
      position: absolute;
      bottom: -7px;
      height: 7px;
      left: 0;
      @include box-shadow;
    }
  }

  .search-result-button-container {
    display: flex;
  }

  .searched-for {
    display: block;
    margin-bottom: 10px;
    color: $white;
    font-size: $general-text;
  }

  .searched-for-text {
    font-weight: bold;
    font-size: $highlighted-text;
  }

  .search-result-button {
    @include light-blue-button;
    flex-grow: 1;
  }

  .search-result-button:before {
    @include button-emboss($light-blue, $white, #9ea3db, #6d728C);
  }

  .search-result-button:active {
    background-color: #9ea3bd;
  }

  .search-result-button:active:before {
    background-color: #9ea3bd;
    background-image: none;
    box-shadow: 0 1px 2px 0 #444 inset;
  }

  .left {
    margin-right: 7px;
  }

  .right {
    margin-left: 7px;
  }

  #companies-list-container {
    margin-top: 233px;
    padding-bottom: 63px;
  }

  #pagination {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    .disabled {
      position: relative;
      z-index: -10;
    }

    .left-pagination, .right-pagination {
      text-align: center;
      width: 50%;
    }

    .results-count, .page-position, .previous-page, .next-page {
      display: block;
    }

    .results-count {
      color: $white;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .pagination-button {
      background-color: $dark-blue;
      border-radius: 2px;
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
    }

    .previous-page:active, .next-page:active {
      background-color: $light-blue;
    }

    .previous-page, .next-page {
      flex-grow: 1;
      display: block;
      width: 30px;
      height: 30px;
    }

    .page-position {
      color: $white;
      flex-grow: 2;
      font-weight: bold;
      padding-top: 7px;
      width: 97px;
      font-size: 13px;
    }

    .previous-page a:after, .next-page a:after {
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      background-color: aqua;
    }

    .previous-page a:after {
      background: url("/assets/icons/prev_page.png") 4px 2px no-repeat;
      background-size: 25px;
    }

    .next-page a:after {
      background: url("/assets/icons/next_page.png") 4px 2px  no-repeat;
      background-size: 25px;
    }

    .page-navigation-container {
      display: flex;
      justify-content: center;
    }
  }

  .sort-container {
    position: relative;
    width: 139px;
    margin: 20px auto 0;
  }

  .sort-type-button {
    display: block;
    width: 100px;
    height: 34px;
    padding: 7px 0;
    text-align: center;
    background-color: $white;
  }

  .sort-list {
    display: none;
  }

  .sort-list.sort-open {
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;
    position: relative;
    right: 62px;
    z-index: 5;

    li {
      list-style: none;
      display: block;
      padding: 14px 0;
      background-color: $light-blue;
      color: $dark-blue;
      border: 1px solid $medium-blue;
    }

    li:active {
      background-color: $dark-blue;
      color: $white;
    }
  }

  .order-button {
    display: block;
    width: 36px;
    height: 30px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: $orange;
    z-index: 2;
  }

  .order-button:before {
    @include button-emboss(#FFF1A2, #FDDEA6, #d34c16, #7A3D16);
  }

  .order-button:after {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background: url("/assets/icons/up_sort_icon.png") 1px -1px  no-repeat;
    background-size: 31px;
  }

  .order-button:active {
    background-color: #d34c16;
    background-image: none;
    box-shadow: 0 1px 2px 0 #444 inset;
  }

  .order-button:active:before {
    background-color: #d34c16;
    background-image: none;
    box-shadow: 0 1px 2px 0 #444 inset;
  }

  .desc:after {
    display: block;
    background: url("/assets/icons/down_sort_icon.png") 1px -1px  no-repeat;
    background-size: 31px;
  }
}


