@import "../../../sass/variables";
@import "../../../sass/mixins";

:host {
  min-height: 100%;
}

#search-results-container.active {
  display: block;
}

.not-bold {
  font-weight: normal;
}

#search-results-container {
  width: 100%;
  position: relative;
  z-index: 1;

  #left-container {
    width: 100%;
  }

  .search-result:hover {
    background-color: #dde8ef;
  }

  .search-result {
    border: 1px solid #a4a9bc;
    width: 100%;
    height: 85px;
    position: relative;
    background-color: $white;
    color: $dark-blue;
    cursor: pointer;

    .company-name {
      display: block;
      width: 230px;
      text-decoration: underline;
      position: absolute;
      left: 8px;
      top: 8px;
      font-weight: bold;
    }
    .company-country {
      position: absolute;
      right: 8px;
      top: 8px
    }

    .reviews-avg {
      position: absolute;
      left: 5px;
      bottom: 6px;
    }

    .reviews-avg:after {
      content: '';
      display: block;
      width: 122px;
      height: 20px;
      background: url("/assets/images/reviews.png") no-repeat;
    }

    .reviews-avg-0:after {
      background-position: 1px -247px;
    }
    .reviews-avg-0-5:after {
      background-position: 1px -222px;
    }
    .reviews-avg-1:after {
      background-position: 1px -198px;
    }
    .reviews-avg-1-5:after {
      background-position: 1px -172px;
    }
    .reviews-avg-2:after {
      background-position: 1px -147px;
    }
    .reviews-avg-2-5:after {
      background-position: 1px -123px;
    }
    .reviews-avg-3:after {
      background-position: 1px -98px;
    }
    .reviews-avg-3-5:after {
      background-position: 1px -73px;
    }
    .reviews-avg-4:after {
      background-position: 1px -48px;
    }
    .reviews-avg-4-5:after {
      background-position: 1px -24px;
    }
    .reviews-avg-5:after {
      background-position: 1px -1;
    }


    .reviews-count {
      position: absolute;
      left: 134px;
      bottom: 6px;
    }

    .verification {
      position: absolute;
      right: 8px;
      bottom: 6px;
    }

    .verified:after {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      background: url('/assets/icons/verified.png');
      background-size: contain;
      position: relative;
    }
  }

  .search-result-controls {
    margin: auto;
    height: 185px;
    width: 100%;
    padding: 10px 5% 0;
    position: fixed;
    top: 50px;
    z-index: 1;
    background-color: $medium-blue;

    .drop-shadow-effect {
      display: block;
      width: 100%;
      position: absolute;
      bottom: -7px;
      height: 7px;
      left: 0;
      @include box-shadow;
    }
  }

  .search-result-button-container {
    display: flex;
  }

  .searched-for {
    display: block;
    margin-bottom: 10px;
    color: $white;
    font-size: $general-text;
  }

  .searched-for-text {
    font-weight: bold;
    font-size: $highlighted-text;
  }

  .search-result-button {
    flex-grow: 1;
  }

  .left {
    margin-right: 7px;
  }

  .right {
    margin-left: 7px;
  }

  #companies-list-container {
    margin-top: 233px;
    padding-bottom: 63px;
  }

  #pagination {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    .disabled {
      position: relative;
      z-index: -10;
    }

    .left-pagination, .right-pagination {
      text-align: center;
      width: 50%;
    }

    .results-count, .page-position, .previous-page, .next-page {
      display: block;
    }

    .results-count {
      color: $white;
      font-weight: bold;
      margin: 0 auto 5px;
      max-width: 200px;
    }

    .pagination-button {
      background-color: $dark-blue;
      border-radius: 2px;
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
    }

    .previous-page:active, .next-page:active {
      background-color: $light-blue;
    }

    .previous-page, .next-page {
      flex-grow: 1;
      display: block;
      width: 30px;
      height: 30px;
    }

    .page-position {
      color: $white;
      flex-grow: 2;
      font-weight: bold;
      padding-top: 7px;
      width: 97px;
      font-size: 13px;
    }

    .previous-page a:after, .next-page a:after {
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      background-color: aqua;
    }

    .previous-page a:after {
      background: url("/assets/icons/prev_page.png") 4px 2px no-repeat;
      background-size: 25px;
    }

    .next-page a:after {
      background: url("/assets/icons/next_page.png") 4px 2px  no-repeat;
      background-size: 25px;
    }

    .page-navigation-container {
      display: flex;
      justify-content: center;
      max-width: 200px;
      margin: auto;
    }
  }

  .dropdown-container {
    position: relative;
    width: 139px;
    margin: 20px auto 0;

    span {
      position: relative;
    }
  }

  .sort-type-button {
    display: block;
    width: 100px;
    height: 34px;
    padding: 7px 0;
    text-align: center;
    background-color: $white;
  }

  .list-open {
    top: 0;
    right: 62px;
  }

  .order-button {
    display: block;
    width: 36px;
    height: 34px;
    position: absolute !important;
    top: 0px;
    right: 2px;
    z-index: 2;
    background-color: $dark-blue;
  }

  .order-button:after {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background: url("/assets/icons/up_sort_icon.png") 2px 2px  no-repeat;
    background-size: 31px;
  }
  
  .desc:after {
    display: block;
    background: url("/assets/icons/down_sort_icon.png") 1px -1px  no-repeat;
    background-size: 31px;
  }
}

/************** Search Results Container Desktop Styles **************/
@media (min-width: $desktop) {
  #search-results-container {
    width: 1242px;
    margin: auto;
    display: flex;

    .dropdown-container {
      position: absolute;
      left: 0px;
      top: -2px;
    }
    
    .active-preview {
      background-color: #e6e6e6;
      border: 1px solid $orange;
    }

    #left-container {
      width: 776px;
    }

    #right-container {
      width: 467px;
      min-height: 900px;
    }

    #right-container {
      min-height: 900px;
      background-color: $light-blue;
      padding-top: 85px;

      .right-container-ad img {
        display: block;
        margin: 0 auto 30px;
      }
    }

    #left-container, #right-container {
      display: inline-block;
      position: relative;
    }
    
    .sort-container {
      margin: 0 30px 0;
      display: inline-block;
    }
    .search-result-controls {
      width: inherit;
      margin: 0;
      padding: 35px 25px 25px;
      height: 310px;
      position: relative;
    }
    
    #companies-list-container {
      margin-top: 0;
      padding: 49px 0 0 0;
    }

    .search-control-ad {
      margin-bottom: 30px;
    }

    .search-reuslts-search-container {
      display: flex;
    }

    .search-results-search {
      @include form-field;
      margin: 0;
      width: 450px;
      height: 40px;
    }

    .search-results-submit-button {
      width: 150px;
      margin: 2px 0 0 30px;
      height: 38px;
      position: absolute;
      top: -1px;
      right: -175px;
    }

    #pagination {
      display: block;
      padding-top: 23px;

      .left-pagination {
        width: 180px;
        display: inline-block;
      }

      .right-pagination {
        width: 533px;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        padding-top: 17px;
        position: absolute;
        right: 0;
      }
      
      .previous-page, .next-page {
        width: 30px;
        flex-grow: 0;
      }

      .search-filter {
        width: 130px;
        display: inline-block;
        padding: 8px 0;
        left: 171px;
        top: 2px;
      }
    }

    .result-guide-container {
      position: absolute;
      right: 23px;
      color: $white;
      bottom: 13px;
      text-align: right;
      font-size: 13px;
      top: 4px;

      span {
        display: block;
        margin: 0 0 7px 0;
      }

      .featured-biz-icon:before {
        content: '';
        display: block;
        width: 13px;
        height: 13px;
        background-color: $yellow;
        position: relative;
        top: 13px;
        left: -20px;
      }
    }

    .search-result {
      height: 162px;

      h2 {
        font-size: 14px;
        display: block;
        position: absolute;
        left: 133px;
        top: 85px;
        width: 450px;
        font-weight: normal;
      }

      .company-country {
        top: 15px;
        right: 15px;
      }

      .company-logo {
        background: $white;
        width: 105px;
        height: 105px;
        border: 1px solid $light-blue;
        position: relative;
        left: 15px;
        top: 15px;

        img {
          width: 103px;
          height: 103px;
        }
      }

      .verification {
        right: inherit;
        bottom: 13px;
        left: 12px;

        span {
          position: absolute;
          left: 21px;
          top: 3px;
          font-size: 13px;
        }
      }

      .company-name {
        left: 135px;
        top: 13px;
        width: 450px;
      }

      .reviews-avg {
        left: 132px;
        top: 37px;
        bottom: inherit;
      }

      .reviews-count {
        top: 62px;
        bottom: inherit;
        font-size: 13px;
      }
    }

    agm-map {
      width: 398px;
      height: 300px;
      margin: auto;
      display: block;
      background-color: $yellow;
    }

    #map-container {
      width: 400px;
      border: 1px solid $dark-blue;
      margin: 0 auto 20px;
    }

    #preview-container {
      width: 466px;
      top: 85px;
      color: $dark-blue;

      span {
        display: block;
        width: 400px;
        margin: 0 auto 10px;
      }

      .preview-button {
        @include light-blue-button;
      }

      .company-name {
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .open-search-details, .open-showroom {
    width: 130px;
    position: absolute;
    right: 15px;
  }

  .open-search-details {
    bottom: 60px;
  }

  .open-showroom {
    bottom: 7px;
  }
}


