#search-results-container.active {
  display: block;
}

.not-bold {
  font-weight: normal;
}

#search-results-container {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
  
  .search-result {
    border: 1px solid #000;
    width: 100%;
    height: 85px;
    position: relative;

    .company-name {
      text-decoration: underline;
      position: absolute;
      left: 8px;
      top: 8px;
    }
    .company-country {
      position: absolute;
      right: 8px;
      top: 8px
    }

    .reviews-avg {
      position: absolute;
      left: 5px;
      bottom: 6px;
    }

    .reviews-avg:after {
      content: '';
      display: block;
      width: 122px;
      height: 22px;
      background: url("/assets/images/reviews.png") no-repeat;
    }

    .reviews-avg-0:after {
      background-position: 1px -244px;
    }
    .reviews-avg-0-5:after {
      background-position: 1px -219px;
    }
    .reviews-avg-1:after {
      background-position: 1px -194px;
    }
    .reviews-avg-1-5:after {
      background-position: 1px -170px;
    }
    .reviews-avg-2:after {
      background-position: 1px -146px;
    }
    .reviews-avg-2-5:after {
      background-position: 1px -121px;
    }
    .reviews-avg-3:after {
      background-position: 1px -97px;
    }
    .reviews-avg-3-5:after {
      background-position: 1px -72px;
    }
    .reviews-avg-4:after {
      background-position: 1px -48px;
    }
    .reviews-avg-4-5:after {
      background-position: 1px -24px;
    }
    .reviews-avg-5:after {
      background-position: 1px 0;
    }


    .reviews-count {
      position: absolute;
      left: 134px;
      bottom: 6px;
      font-weight: bold;
    }

    .verification {
      position: absolute;
      right: 8px;
      bottom: 6px;
    }

    .verified:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url('/assets/icons/ic_check_circle_black_24dp_2x.png');
      background-size: contain;
      position: relative;
    }
  }

  .search-result-controls {
    margin: auto;
    width: 100%;
    padding: 10px 5% 0;
    position: fixed;
    top: 50px;
    z-index: 1;
    background-color: white;
    border-bottom: 4px solid #000;
  }

  .search-result-button-container {
    display: flex;
  }

  .searched-for {
    display: block;
    margin-bottom: 10px;
  }

  .search-result-button {
    display: block;
    padding: 14px 0;
    text-align: center;
    border: 1px solid #000;
    flex-grow: 1;
    background-color: lightgray;
    margin-bottom: 7px;
  }

  .left {
    margin-right: 7px;
  }

  .right {
    margin-left: 7px;
  }

  #companies-list-container {
    margin-top: 227px;
    padding-bottom: 63px;
  }

  #pagination {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    .disabled {
      position: relative;
      z-index: -10;
    }

    .left-pagination, .right-pagination {
      text-align: center;
      width: 50%;
    }

    .results-count, .page-position, .previous-page, .next-page {
      display: block;
    }

    .results-count {
       font-weight: bold;
      margin-bottom: 5px;
    }

    .previous-page a, .next-page a {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      border: 3px solid #000;
      border-radius: 6px;
    }

    .previous-page a:active, .next-page a:active {
      background-color: lightgray;
    }

    .previous-page, .next-page {
      flex-grow: 1;
      display: block;
      width: 30px;
      height: 30px;
    }

    .page-position {
      flex-grow: 2;
      font-weight: bold;
      padding-top: 7px;
      width: 97px;
      font-size: 13px;
    }

    .previous-page a:after, .next-page a:after {
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      background-color: aqua;
    }

    .previous-page a:after {
      background: url("/assets/icons/ic_chevron_left_black_24dp_2x.png") -6px -6px no-repeat;
      background-size: 35px;
    }

    .next-page a:after {
      background: url("/assets/icons/ic_chevron_right_black_24dp_2x.png") -6px -6px  no-repeat;
      background-size: 35px;
    }

    .page-navigation-container {
      display: flex;
      justify-content: center;
    }
  }
}


