@import "../../sass/variables";
@import "../../sass/mixins";

#login-component {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  padding-top: 70px;

  .error-container {
    position: absolute;
    background-color: $light-red;
    color: $red;
    width: 100%;
    padding: 15px 20px;
    top: 50px;
    text-align: center;
  }

  .error-message {
    position: relative;
    width: 90%;
  }

  .error-message:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: url("/assets/icons/error_icon.png") no-repeat;
    left: -22px;
    top: 1px;
  }

  h4 {
    text-align: center;
    color: $white;
    @include section-header;
    margin: 10px 0 27px;
    font-size: 16px;
  }
  
  .login-input-label {
    @include form-label;
    color: $white;
  }

  .login-input-form {
    @include form-field;
    padding: 10px 10px;
  }

  .submit-login-button {
    display: block;
    width: 160px;
    margin: 25px 0 0 5%;
  }

  .submit-login-container {
    position: relative;
    
    .forgot-password {
      font-weight: bold;
      text-decoration: underline;
      position: absolute;
      right: 8%;
      top: 9px;
      color: $white;
    }

    .remember-check {
      margin: 16px 8px 0 5%;
    }

    label {
      color: $white;
    }
  }

  .horizontal-rule {
    width: 90%;
    height: 2px;
    background-color: $white;
    margin: 15px auto -11px;
  }

  .divide {
    font-size: 16px;
    background-color: #676c91;
    width: 40px;
    margin: 0 auto;
    display: block;
  }

  .sign-up-text {
    margin: 25px auto 20px;
  }
  
  .signup-button {
    display: block;
    width: 180px;
    margin: 0 auto;
  }

  .login-field-container {
    width: 100%;
  }
}

@media (min-width: $desktop) {
  #login-component {
    padding-top: 150px;
    
    .login-field-container {
      width: 500px;
      margin: auto;
    }
  }
}