<div id="login-component">
    <section class="login=section">
        <span *ngIf="this.authService.errorResponse"class="error-container">
            <span class="error-message">{{authService.errorMessage}}</span>
        </span>
        <h4>Log in to Gempathy</h4>
        <span class="login-input-label">email address</span>
        <input type="text" id="email" [(ngModel)]="email" class="login-input-form">
        <br />
        <span class="login-input-label">password</span>
        <input type="text" id="password" [(ngModel)]="password" class="login-input-form">

        <div class="submit-login-container">
            <span class="submit-login-button" (click)="login()">Log in</span>
            <input class="remember-check" type="checkbox"><label>Remember me</label>
            <span class="forgot-password">Forgot Password</span>
        </div>
    </section>

    <div class="horizontal-rule"></div>

    <section class="signup-section">
        <h4 class="divide">Or</h4>
        <h4 class="sign-up-text">New to Gempathy? Sign up now!</h4>
        <span class="signup-button">Sign up</span>
    </section>
</div>