<div id="account-settings-container">
    <form (ngSubmit)="submitUpdate(); false" #updateInfoForm="ngForm">
        <div class="settings-data-container">
            <span class="settings-icon username"></span>
            <span *ngIf="!editUserName; else editUserNameField" class="settings-value">{{userName}}</span>
            <ng-template #editUserNameField>
                <input type="text"
                       name="userName"
                       (focus)="appService.fieldFocus()"
                       (focusout)="appService.showNav()"
                       [(ngModel)]="userName"
                       [ngClass]="{'error-highlight': authService.errorHighlight}"
                       class="account-settings-input-form"
                       required>
            </ng-template>
            <span class="edit medium-blue-button" (click)="editField('userName')"></span>
        </div>

        <div class="settings-data-container">
            <span class="settings-icon email"></span>
            <span class="settings-value">{{email}}</span>
            <span class="edit medium-blue-button"></span>
        </div>

        <div class="settings-data-container">
            <span *ngIf="accountType === 'Business'" class="settings-icon business"></span>
            <span *ngIf="accountType === 'Individual'" class="settings-icon username"></span>
            <span class="settings-value">{{accountType}}</span>
            <span class="edit medium-blue-button"></span>
        </div>
        <div  *ngIf="saveEnabled" class="save-container">
            <button class="cancel-button"><span (click)="cancel(); false">Cancel</span></button>
            <button class="orange-button">Save</button>
        </div>
    </form>
</div>



