@import "../../../sass/variables";
@import "../../../sass/mixins";

:host {
  min-height: 100vh;
  display: block;
}

.account-settings-container.active {
  display: block;
}

.account-settings-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: $light-blue;
  padding: $mobile-padding;
  color: $dark-blue;

  .section-title {
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    border-bottom: 1px solid $dark-blue;
    font-size: 13px;
  }

  .page-title {
    text-align: center;
  }

  .settings-data-container.edit-field {

    .settings-icon:after {
      top: -20px;
    }
  }
  
  .settings-data-container {
    position: relative;
    background-color: $white;
    padding: 30px 30px 30px 55px;
    margin-bottom: 5px;
    transition: max-height 1s;
    min-height: 77px;

    .edit {
      display: block;
      background-color: $medium-blue;
      height: calc(100% - 2px);
      width: 40px;
      position: absolute;
      right: 0;
      top: 1px;
      z-index: 2;
      transition: max-height 1s;
    }

    .edit:after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url("/assets/icons/white_edit_icon.png") no-repeat;
      background-size: 20px;
      position: relative;
      top: 35%;   
      left: 10px;
    }

    .edit-field:before {
      background-color: $orange;
      background-image: none;
    }

    .medium-blue-button:before {
      border-radius: 0;
    }

    .multi-field-container {
      margin-bottom: 20px;

      label {
        display: block;
        font-size: 13px;
      }

      input {
     
      }
    }

    .multi-field-container:first-of-type {
      padding-top: 15px;
    }
  }

  .form-section {
    margin-bottom: 40px;
  }

  .settings-data-container:first-child, .form-section > .settings-data-container:first-of-type {
    border-radius: 6px 6px 0 0;

    .edit, .medium-blue-button:before {
      border-radius: 0 6px 0 0 !important;
    }
  }

  .settings-data-container:last-child,  .form-section > .settings-data-container:last-of-type{
    border-radius: 0 0 6px 6px;

    .edit, .medium-blue-button:before {
      border-radius: 0 0 6px 0 !important;;
    }
  }

  .settings-icon {
    display: block;
    width: 30px;
    position: relative;
  }

  .settings-icon:before {
    content: '';
    display: block;
    width: 37px;
    height: 30px;
    position: absolute;
  }

  .settings-icon:after {
    position: absolute;
    font-size: 13px;
    top: -12px;
    color: $medium-blue;
    display: block;
    width: 300px;
    transition: top 0.5s;
  }

  .username:before {
    background: url("/assets/icons/dark_blue_user.png") no-repeat;
    left: -40px;
    top: -4px;
  }

  .email:before {
    background: url("/assets/icons/dark_blue_email.png") no-repeat;
    left: -40px;
    top: -1px;
  }

  .individual:before {
    background: url("/assets/icons/dark_blue_user.png") no-repeat;
    left: -40px;
    top: -4px;
  }

  .business:before {
    background: url("/assets/icons/dark_blue_business.png") no-repeat;
    left: -40px;
    top: -8px;
  }

  .companyName:before {
    background: url("/assets/icons/dark_blue_business.png") no-repeat;
    left: -44px;
    top: -8px;
  }

  .companyAddress:before {
    background: url("/assets/icons/dark_blue_location.png") no-repeat;
    left: -40px;
    top: -8px;
  }

  .companyLogo:before {
    background: url("/assets/icons/dark_blue_image.png") no-repeat -7px -7px;
    left: -49px;
    top: -15px;
    background-size: 47px;
  }

  .companyLogo:after {
    content: 'company logo';
  }

  .companyAddress:after {
    content: 'company address';
  }

  .companyName:after {
    content: 'company name';
  }
  
  .username:after {
    content: 'username';
  }

  .email:after {
    content: 'email address';
  }

  .business:after {
    content: 'account type';
  }

  .individual:after {
    content: 'account type';
  }

  .account-type-open {
    height: 130px;

    .edit, .medium-blue-button:before {
      height: 130px;
      border-radius: 0 0 6px 0 !important;;
    }

    .edit:after {
      top: 50px;
    }
  }

  .settings-value {
    position: relative;
    top: 10px;
  }

  .account-settings-input-form {
    @include form-field;
    border: 1px $dark-blue solid;
    margin: 0;
    top: 5px;

    &.multi {
      margin-bottom: 10px;
    }
  }

  .account-settings-type-select {
    padding-left: 15px;
    position: relative;
    top: 8px;

    .account-type-select-button {
      display: block;
      position: relative;
      padding: 10px 40px;
      margin-bottom: 10px;
    }

    .account-type-select-button:before {
      content: '';
      width: 30px;
      height: 30px;
      background-color: $white;
      border: 3px solid $dark-blue;
      border-radius: 30px;
      position: absolute;
      left: 0px;
      top: 3px;
    }

    .account-type-select-button.type-selected:before {
      background-color: $orange;
    }
  }
}