<div id="app-container">
    <nav>
        <div class="desktop-padding">
            <img src="../assets/images/gempathy_logo.png" class="header-logo" routerLink="/">
            <span class="header-logo-name">Gempathy</span>


            <!-- Desktop Navigation -->
            <div id="desktop-menu" class="desktop">
                <a routerLink="/search" routerLinkActive="active" class="search-icon">Home</a>
                <a routerLink="/about" routerLinkActive="active" class="about-icon">About Us</a>
                <a routerLink="/contact" routerLinkActive="active" class="contact-icon">Contact</a>
                <a *ngIf="!this.authService.isLoggedIn;"
                   routerLink="/register" routerLinkActive="active" class="signup-icon">Sign Up</a>
            </div>

            <!-- User Settings Dropdown -->
            <div *ngIf="this.authService.isLoggedIn; else notLoggedIn" id="user-settings" class="dropdown-container">
                <span (click)="toggleDropdown()">{{this.authService.session['user']['values']['field_50']}}</span>
                <ul class="dropdown-list" [ngClass]="{'list-open': listOpen}">
                    <li (click)="toggleDropdown()" routerLink="/profile">Profile Settings</li>
                    <li (click)="logout()">Logout</li>
                </ul>
            </div>

            <!-- User Not Logged In-->
            <ng-template #notLoggedIn>
                
                <!-- Desktop Login -->
                <div id="desktop-nav-login" class="desktop">
                    <form (ngSubmit)="login()" #navLoginForm="ngForm">
                        <div class="form-container">
                            <span class="nav-form-label">email</span>
                            <input type="email"
                                   name="email"
                                   [(ngModel)]="email"
                                   [ngClass]="{'error-highlight': authService.errorHighlight}"
                                   class="nav-login-form">
                        </div>
    
                        <div class="form-container">
                            <span class="nav-form-label">password</span>
                            <input type="password" src="" name="password"
                                   [ngClass]="{'error-highlight': authService.errorHighlight}"
                                   [(ngModel)]="password"
                                   class="nav-login-form">
                        </div>
                        <button type="submit" class="nav-login-submit light-blue-button">login</button>
                    </form>
                </div>

                <!-- Mobile Login-->
                <span class="mobile-login-link mobile" routerLink="/login">Sign Up/Login</span>
            </ng-template>
        </div>
        <span class="drop-shadow-effect"></span>
    </nav>

    <span *ngIf="this.authService.errorResponse" class="error-container">
            <span class="error-message">{{authService.errorMessage}}</span>
        </span>

    <!-- Mobile Menu Logged In -->
    <div *ngIf="this.authService.isLoggedIn; else notLoggedInMenu">
        <div class="mobile-menu-container mobile">
            <a routerLink="/search" routerLinkActive="active" class="search-icon">Search</a>
            <a routerLink="/profile" routerLinkActive="active" class="profile-icon">Profile</a>
            <a routerLink="/about" routerLinkActive="active" class="about-icon">About Us</a>
            <a routerLink="/contact" routerLinkActive="active" class="contact-icon">Contact</a>
        </div>
    </div>

    <!-- Mobile Menu Not Logged In-->
    <ng-template #notLoggedInMenu>
        <div class="mobile-menu-container mobile" [ngClass]="{'searchStarted': appService.searchStarted}">
            <a routerLink="/search" routerLinkActive="active" class="search-icon">Search</a>
            <a routerLink="/register" routerLinkActive="active" class="signup-icon">Sign Up</a>
            <a routerLink="/profile" routerLinkActive="active" class="about-icon">About Us</a>
            <a routerLink="/contact" routerLinkActive="active" class="contact-icon">Contact</a>
        </div>
    </ng-template>

    <div id="content-container" [@searchAnimations]="getPage(appOutlet)">
        <div id="background-texture"></div>
        <router-outlet #appOutlet="outlet"></router-outlet>
    </div>
    <footer class="desktop">
        <div class="footer-content-container">
            <div class="link-column">
                <a routerLink="/">Home</a>
                <a routerLink="/search">Search</a>
                <a routerLink="/about">About</a>
                <a routerLink="/contact">Contact</a>
                <a routerLink="/register">Sign Up</a>
            </div>
            <div class="link-column">
                <a routerLink="/">Privacy Statement</a>
                <a routerLink="/">FAQ</a>
            </div>
            <div class="link-column">
                <a routerLink="/">Facebook</a>
                <a routerLink="/">Instagram</a>
                <a routerLink="/">Press</a>
            </div>
            <div class="copyright-container">
                <img src="../assets/images/gempathy_logo.png" class="footer-logo">
                <span>Gempathy &copy; 2018</span>
            </div>
        </div>
    </footer>
</div>


