<div id="app-container">
    <nav>
        <div class="desktop-padding">
            <img src="../assets/images/gempathy_logo.png" class="header-logo" routerLink="/">
            <span class="header-logo-name">Gempathy</span>

            <div id="desktop-menu">
                <a routerLink="/search" routerLinkActive="active" class="search-icon">Home</a>
                <a routerLink="/about" routerLinkActive="active" class="about-icon">About Us</a>
                <a routerLink="/contact" routerLinkActive="active" class="contact-icon">Contact</a>
                <a routerLink="/profile" routerLinkActive="active" class="signup-icon">Sign Up</a>
            </div>

            <div *ngIf="this.authService.isLoggedIn; else notLoggedIn">
                <span class="login-link" (click)="logout()">Logout</span>
            </div>

            <ng-template #notLoggedIn>
                <span class="login-link" routerLink="/login">Sign Up/Login</span>
            </ng-template>
        </div>
        <span class="drop-shadow-effect"></span>
    </nav>

    <div *ngIf="this.authService.isLoggedIn; else notLoggedInMenu">
        <div class="mobile-menu-container">
            <a routerLink="/search" routerLinkActive="active" class="search-icon">Search</a>
            <a routerLink="/profile" routerLinkActive="active" class="signup-icon">Profile</a>
            <a routerLink="/about" routerLinkActive="active" class="about-icon">About Us</a>
            <a routerLink="/contact" routerLinkActive="active" class="contact-icon">Contact</a>
        </div>
    </div>

    <ng-template #notLoggedInMenu>
        <div class="mobile-menu-container">
            <a routerLink="/search" routerLinkActive="active" class="search-icon">Search</a>
            <a routerLink="/profile" routerLinkActive="active" class="about-icon">About Us</a>
            <a routerLink="/contact" routerLinkActive="active" class="contact-icon">Contact</a>
        </div>
    </ng-template>

    <div id="content-container" [@searchAnimations]="getPage(appOutlet)">
        <div id="background-texture"></div>
        <router-outlet #appOutlet="outlet"></router-outlet>
    </div>
</div>

