<div class="account-settings-container">
    <h5 class="page-title">Company Settings</h5>
    <form (ngSubmit)="submitUpdate(); false" #updateInfoForm="ngForm" autocomplete="on">

        <section class="form-section">
            <h4 class="section-title">Basic Info</h4>

            <!-- Company Name -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyNameEdit}">
                <span class="settings-icon companyName"></span>
                <span *ngIf="!companyNameEdit; else editCompanyNameField" class="settings-value">{{ company?.field_1 }}</span>
                <ng-template #editCompanyNameField>
                    <input type="text"
                           name="companyName"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_1']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_1}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyNameEdit}" (click)="editField('companyName', 'field_1')"></span>
            </div>

            <!-- Company Address -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyAddressEdit}">
                <span class="settings-icon companyAddress"></span>
                <span *ngIf="!companyAddressEdit; else editCompanyAddressField" class="settings-value" [innerHTML]="company?.field_2"></span>
                <ng-template #editCompanyAddressField>

                    <!-- Company Address - Street1 -->
                    <div class="multi-field-container">
                        <label>address 1</label>
                        <input type="text"
                               name="companyStreet1"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="updatedCompany['field_2']['street']"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_2}"
                               class="account-settings-input-form"
                               required>
                    </div>


                    <!-- Company Address - Street2 -->
                    <div class="multi-field-container">
                        <label>address 2</label>
                        <input type="text"
                               name="companyStreet2"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="updatedCompany['field_2']['street2']"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_2}"
                               class="account-settings-input-form"
                               required>
                    </div>

                    <!-- Company Address - City -->
                    <div class="multi-field-container">
                        <label>city/town/village</label>
                        <input type="text"
                               name="companyCity"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="updatedCompany['field_2']['city']"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_2}"
                               class="account-settings-input-form"
                               required>
                    </div>

                    <!-- Company Address - Country -->
                    <div class="multi-field-container">
                        <label>country/region</label>
                        <input type="text"
                               name="companyCountry"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               (keyup)="countryTypeHead()"
                               [(ngModel)]="updatedCompany['field_2']['country']"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_2}"
                               class="account-settings-input-form">

                        <div class="dropdown-container">
                            <ul class="dropdown-list" [ngClass]="{'list-open left': this.openDropdown}">
                                <li *ngFor="let country of countries | filterCountry : updatedCompany['field_2']['country']"
                                    [attr.data-country-code]="country.alpha2"
                                    (click)="setCountryValue(country.name)">{{country.name}}</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Company Address - State -->
                    <div class="multi-field-container">
                        <label>state/province</label>
                        <input type="text"
                               name="companyState"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="updatedCompany['field_2']['state']"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_2}"
                               class="account-settings-input-form"
                               required>
                    </div>

                    <!-- Company Address - Zip -->
                    <div class="multi-field-container">
                        <label>postal code/zip</label>
                        <input type="text"
                               name="companyZip"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="updatedCompany['field_2']['zip']"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_2}"
                               class="account-settings-input-form"
                               required>
                    </div>

                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyAddressEdit}" (click)="editField('companyAddress', 'field_2_raw')"></span>
            </div>

        </section>


        <section class="form-section">
            <h4 class="section-title">Company Details</h4>

            <!-- Company Logo -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyLogoEdit}">
                <span class="settings-icon companyLogo"></span>
                <span *ngIf="!companyLogoEdit; else editCompanyLogoField" class="settings-value">
          <img src="{{company?.field_3_raw.thumb_url}}">
        </span>
                <ng-template #editCompanyLogoField>
                    <input type="file"
                           name="companyLogo"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           (change)="handleFileInput($event.target.files)"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_3_raw}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyLogoEdit}" (click)="editField('companyLogo', 'field_3')"></span>
            </div>

            <!-- Tagline -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyTaglineEdit}">
                <span class="settings-icon companyTagline"></span>
                <span *ngIf="!companyTaglineEdit; else editCompanyTaglineField" class="settings-value">{{ company?.field_4 }}</span>
                <ng-template #editCompanyTaglineField>
                    <input type="text"
                           name="companyTagline"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_4']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_4}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyTaglineEdit}" (click)="editField('companyTagline', 'field_4')"></span>
            </div>

            <!-- Company Description-->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyDescriptionEdit}">
                <span class="settings-icon companyDescription"></span>
                <span *ngIf="!companyDescriptionEdit; else editCompanyDescriptionField" class="settings-value">{{ company?.field_5 }}</span>
                <ng-template #editCompanyDescriptionField>
          <textarea type="text"
                    name="companyDescription"
                    (focus)="appService.fieldFocus()"
                    (focusout)="appService.showNav()"
                    [(ngModel)]="updatedCompany['field_5']"
                    [ngClass]="{'error-highlight': this.flashMessageService.field_5}"
                    class="account-settings-input-form text-area"
                    required>
          </textarea>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyDescriptionEdit}" (click)="editField('companyDescription', 'field_5')"></span>
            </div>

            <!-- Date Established -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyEstablishedDateEdit}">
                <span class="settings-icon companyEstablishedDate"></span>
                <span *ngIf="!companyEstablishedDateEdit; else editCompanyEstablishedDateField" class="settings-value">{{ company?.field_6 }}</span>
                <ng-template #editCompanyEstablishedDateField>
                    <input type="text"
                           name="companyEstablishedDate"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_6']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_6}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyEstablishedDateEdit}" (click)="editField('companyEstablishedDate', 'field_6')"></span>
            </div>
        </section>

        <section class="form-section">
            <h4 class="section-title">Company Contact Info</h4>

            <!-- Website -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyWebsiteEdit}">
                <span class="settings-icon companyWebsite"></span>
                <span *ngIf="!companyWebsiteEdit; else editCompanyWebsiteEditField" class="settings-value" [innerHTML]="company?.field_7_raw['url']"></span>
                <ng-template #editCompanyWebsiteEditField>
                    <input type="text"
                           name="companyWebsite"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_7']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_7}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyWebsiteEdit}" (click)="editField('companyWebsite', 'field_7_raw', 'url')"></span>
            </div>

            <!-- Email 1 -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyEmail_1_Edit}">
                <span class="settings-icon companyEmail_1"></span>
                <span *ngIf="!companyEmail_1_Edit; else editCompanyEmailEdit_1_Field" class="settings-value" [innerHTML]="company?.field_8_raw['email']"></span>
                <ng-template #editCompanyEmailEdit_1_Field>
                    <input type="text"
                           name="companyEmail_1_"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_8']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_8}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyEmail_1_Edit}" (click)="editField('companyEmail_1_', 'field_8_raw', 'email')"></span>
            </div>

            <!-- Email 2 -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyEmail_2_Edit}">
                <span class="settings-icon companyEmail_2"></span>
                <span *ngIf="!companyEmail_2_Edit; else editCompanyEmailEdit_2_Field" class="settings-value" [innerHTML]="company?.field_9_raw['email']"></span>
                <ng-template #editCompanyEmailEdit_2_Field>
                    <input type="text"
                           name="companyEmail_2_"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_9']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_9}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyEmail_2_Edit}" (click)="editField('companyEmail_2_', 'field_9_raw', 'email')"></span>
            </div>

            <!-- Phone 1 -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyPhone_1_Edit}">
                <span class="settings-icon companyPhone_1"></span>
                <span *ngIf="!companyPhone_1_Edit; else editCompanyPhoneEdit_1_Field" class="settings-value" [innerHTML]="company?.field_10_raw['full']"></span>
                <ng-template #editCompanyPhoneEdit_1_Field>
                    <div class="multi-field-container">
                        <label class="country-code-label">country code</label>
                        <input type="text"
                               name="companyPhone_1_CountryCode"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="companyPhone_1_CountryCode"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_10}"
                               class="account-settings-input-form country-code"
                               required>
                    </div>

                    <div class="multi-field-container">
                        <label>number</label>
                        <input type="text"
                               name="companyPhone_1_Number"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="companyPhone_1_Number"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_10}"
                               class="account-settings-input-form"
                               required>
                    </div>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyPhone_1_Edit}" (click)="editField('companyPhone_1_', 'field_10')"></span>
            </div>

            <!-- Phone 2 -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companyPhone_2_Edit}">
                <span class="settings-icon companyPhone_2"></span>
                <span *ngIf="!companyPhone_2_Edit; else editCompanyPhoneEdit_2_Field" class="settings-value" [innerHTML]="company?.field_11_raw['full']"></span>
                <ng-template #editCompanyPhoneEdit_2_Field>
                    <div class="multi-field-container">
                        <label class="country-code-label">country code</label>
                        <input type="text"
                               name="companyPhone_2_CountryCode"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="companyPhone_2_CountryCode"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_11}"
                               class="account-settings-input-form country-code"
                               required>
                    </div>

                    <div class="multi-field-container">
                        <label>number</label>
                        <input type="text"
                               name="companyPhone_2_Number"
                               (focus)="appService.fieldFocus()"
                               (focusout)="appService.showNav()"
                               [(ngModel)]="companyPhone_2_Number"
                               [ngClass]="{'error-highlight': this.flashMessageService.field_11}"
                               class="account-settings-input-form"
                               required>
                    </div>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companyPhone_2_Edit}" (click)="editField('companyPhone_2_', 'field_11')"></span>
            </div>
        </section>

        <section class="form-section">
            <h4 class="section-title">Social Media Info</h4>

            <!-- Social 1 -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companySocial_1_Edit}">
                <span class="settings-icon companySocial_1"></span>
                <span *ngIf="!companySocial_1_Edit; else editCompanySocial_1_EditField" class="settings-value" [innerHTML]="company?.field_12_raw['url']"></span>
                <ng-template #editCompanySocial_1_EditField>
                    <input type="text"
                           name="companySocial_1"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_12']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_12}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companySocial_1_Edit}" (click)="editField('companySocial_1_', 'field_12_raw', 'url')"></span>
            </div>

            <!-- Social 2 -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companySocial_2_Edit}">
                <span class="settings-icon companySocial_2"></span>
                <span *ngIf="!companySocial_2_Edit; else editCompanySocial_2_EditField" class="settings-value" [innerHTML]="company?.field_13_raw['url']"></span>
                <ng-template #editCompanySocial_2_EditField>
                    <input type="text"
                           name="companySocial_2"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_13']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_13}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companySocial_2_Edit}" (click)="editField('companySocial_2_', 'field_13_raw', 'url')"></span>
            </div>

            <!-- Social 3 -->
            <div class="settings-data-container" [ngClass]="{'edit-field': companySocial_3_Edit}">
                <span class="settings-icon companySocial_3"></span>
                <span *ngIf="!companySocial_3_Edit; else editCompanySocial_3_EditField" class="settings-value" [innerHTML]="company?.field_14_raw['url']"></span>
                <ng-template #editCompanySocial_3_EditField>
                    <input type="text"
                           name="companySocial_3"
                           (focus)="appService.fieldFocus()"
                           (focusout)="appService.showNav()"
                           [(ngModel)]="updatedCompany['field_14']"
                           [ngClass]="{'error-highlight': this.flashMessageService.field_14}"
                           class="account-settings-input-form"
                           required>
                </ng-template>
                <span class="edit medium-blue-button" [ngClass]="{'edit-field': companySocial_3_Edit}" (click)="editField('companySocial_3_', 'field_14_raw', 'url')"></span>
            </div>

            <!-- Business Hours -->
        </section>
        <section class="form-section">
            <h4 class="section-title">Business Hours</h4>
            <div *ngFor="let days of time; let i = index" class="settings-data-container time-container"
                 [ngClass]="{'edit-field': this['company' + days['day'] + 'HoursEdit']}">
                <span class="day">{{days.day}}</span>
                <div *ngIf="!this['company' + days['day'] + 'HoursEdit']; else editFields" class="business-hours-container">
                    <div *ngIf="days['open']; else businessClosed">
                        <!-- Original Times -->
                        <span class="open-time">
                            {{days['openTime']['hours']}}:
                            {{days['openTime']['minutes']}}
                            {{days['openTime']['period']}}
                        </span> -
                        <span class="close-time">
                            {{days['closeTime']['hours']}}:
                            {{days['closeTime']['minutes']}}
                            {{days['closeTime']['period']}}
                        </span>
                    </div>
                    <ng-template #businessClosed>
                        <span>Closed</span>
                    </ng-template>
                </div>

                <!-- Day to Edit -->
                <span class="edit medium-blue-button"
                      [ngClass]="{'edit-field': this['company' + days['day'] + 'HoursEdit']}"
                      (click)="editBusinessDayHours(days)">

                </span>

                <!-- Business Hours Edit Fields-->
                <ng-template #editFields>

                    <!-- Open and Close Toggle -->
                    <div class="switch-container time-switch" (click)="toggleSwitch(this.updatedCompany['field_15'][i])" [ngClass]="{'on': this.updatedCompany['field_15'][i]['open']}">
                        <div class="switch" [ngClass]="{'on': this.updatedCompany['field_15'][i]['open']}"></div>
                    </div>

                    <!-- Opening Times -->
                    <div *ngIf="this.updatedCompany['field_15'][i]['open']" class="business-hours-edit-fields">
                        <span class="time-label">Opening Time</span>

                        <!-- Opening Times Hour Edit -->
                        <div class="time-edit-container">
                            <span class="time-hours medium-blue-button time-button"
                                [ngClass]="{'on': this[days['day'] + 'OpenTimeHoursEditTimeButton']}"
                                (click)="editTime(this.updatedCompany['field_15'][i]['day'], 'Hours', 'OpenTime')">
                                {{this.updatedCompany['field_15'][i]['openTime']['hours']}}
                                </span>
                            <div class="time-selector-border" [ngClass]="{'on': this[days['day'] + 'OpenTimeHoursEdit']}">
                                <div class="time-selector">
                                    <span class="close-time-container" (click)="closeEditTime()"></span>
                                    <span class="twelve-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '12'; closeEditTime()"></span>

                                    <div class="time-row second-row">
                                        <span class="eleven-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '11'; closeEditTime()"></span>
                                        <span class="one-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '1'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row third-row">
                                        <span class="ten-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '10'; closeEditTime()"></span>
                                        <span class="two-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '2'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fourth-row">
                                        <span class="nine-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '9'; closeEditTime()"></span>
                                        <span class="three-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '3'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fifth-row">
                                        <span class="eight-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '8'; closeEditTime()"></span>
                                        <span class="four-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '4'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row sixth-row">
                                        <span class="seven-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '7'; closeEditTime()"></span>
                                        <span class="five-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '5'; closeEditTime()"></span>
                                    </div>

                                    <span class="six-hour" (click)="this.updatedCompany['field_15'][i]['openTime']['hours'] = '6'; closeEditTime()"></span>
                                </div>
                            </div>
                            <span class="time-divider">:</span>

                            <!-- Opening Times Minute Edit -->
                            <span class="time-minutes time-button medium-blue-button"
                                  [ngClass]="{'on': this[days['day'] + 'OpenTimeMinutesEditTimeButton']}"
                                  (click)="editTime(this.updatedCompany['field_15'][i]['day'], 'Minutes', 'OpenTime')">
                                {{this.updatedCompany['field_15'][i]['openTime']['minutes']}}
                            </span>
                            <div class="time-selector-border" [ngClass]="{'on': this[days['day'] + 'OpenTimeMinutesEdit']}">
                                <div class="time-selector">
                                    <span class="close-time-container" (click)="closeEditTime()"></span>
                                    <span class="zero-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '00'; closeEditTime()"></span>

                                    <div class="time-row second-row">
                                        <span class="fifty-five-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '55'; closeEditTime()"></span>
                                        <span class="five-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '05'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row third-row">
                                        <span class="fifty-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '50'; closeEditTime()"></span>
                                        <span class="ten-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '10'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fourth-row">
                                        <span class="forty-five-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '45'; closeEditTime()"></span>
                                        <span class="fifteen-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '15'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fifth-row">
                                        <span class="forty-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '40'; closeEditTime()"></span>
                                        <span class="twenty-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '20'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row sixth-row">
                                        <span class="thirty-five-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '35'; closeEditTime()"></span>
                                        <span class="twenty-five-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '25'; closeEditTime()"></span>
                                    </div>

                                    <span class="thirty-minute" (click)="this.updatedCompany['field_15'][i]['openTime']['minutes'] = '30'; closeEditTime()"></span>
                                </div>
                            </div>

                            <!-- Opening Times Period Edit -->
                            <span class="time-period time-button medium-blue-button"
                                  [ngClass]="{'on': this[days['day'] + 'OpenTimePeriodEditTimeButton']}"
                                  (click)="editPeriod(this.updatedCompany['field_15'][i], 'openTime')">
                                    {{this.updatedCompany['field_15'][i]['openTime']['period']}}
                            </span>
                        </div>

                        <!-- Closing Times-->
                        <span class="time-label">Closing Time</span>
                        <div class="time-edit-container">

                            <!-- Closing Times Hour Edit -->
                            <span class="time-hours time-button medium-blue-button"
                                  [ngClass]="{'on': this[days['day'] + 'CloseTimeHoursEditTimeButton']}"
                                  (click)="editTime(this.updatedCompany['field_15'][i]['day'], 'Hours', 'CloseTime')">
                                {{this.updatedCompany['field_15'][i]['closeTime']['hours']}}
                            </span>
                            <div class="time-selector-border" [ngClass]="{'on': this[days['day'] + 'CloseTimeHoursEdit']}">
                                <div class="time-selector">
                                    <span class="close-time-container" (click)="closeEditTime()"></span>
                                    <span class="twelve-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '12'; closeEditTime()"></span>

                                    <div class="time-row second-row">
                                        <span class="eleven-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '11'; closeEditTime()"></span>
                                        <span class="one-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '1'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row third-row">
                                        <span class="ten-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '10'; closeEditTime()"></span>
                                        <span class="two-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '2'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fourth-row">
                                        <span class="nine-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '9'; closeEditTime()"></span>
                                        <span class="three-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '3'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fifth-row">
                                        <span class="eight-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '8'; closeEditTime()"></span>
                                        <span class="four-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '4'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row sixth-row">
                                        <span class="seven-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '7'; closeEditTime()"></span>
                                        <span class="five-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '5'; closeEditTime()"></span>
                                    </div>

                                    <span class="six-hour" (click)="this.updatedCompany['field_15'][i]['closeTime']['hours'] = '6'; closeEditTime()"></span>
                                </div>
                            </div>
                            <span class="time-divider">:</span>

                            <!-- Closing Times Minute Edit -->
                            <span class="time-minutes time-button medium-blue-button"
                                  [ngClass]="{'on': this[days['day'] + 'CloseTimeMinutesEditTimeButton']}"
                                  (click)="editTime(days['day'], 'Minutes', 'CloseTime')">
                                {{this.updatedCompany['field_15'][i]['closeTime']['minutes']}}</span>
                            <div class="time-selector-border" [ngClass]="{'on': this[days['day'] + 'CloseTimeMinutesEdit']}">
                                <div class="time-selector">
                                    <span class="close-time-container" (click)="closeEditTime()"></span>
                                    <span class="zero-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '00'; closeEditTime()"></span>

                                    <div class="time-row second-row">
                                        <span class="fifty-five-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '55'; closeEditTime()"></span>
                                        <span class="five-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '05'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row third-row">
                                        <span class="fifty-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '50'; closeEditTime()"></span>
                                        <span class="ten-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '10'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fourth-row">
                                        <span class="forty-five-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '45'; closeEditTime()"></span>
                                        <span class="fifteen-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '15'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row fifth-row">
                                        <span class="forty-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '40'; closeEditTime()"></span>
                                        <span class="twenty-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '20'; closeEditTime()"></span>
                                    </div>

                                    <div class="time-row sixth-row">
                                        <span class="thirty-five-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '35'; closeEditTime()"></span>
                                        <span class="twenty-five-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '25'; closeEditTime()"></span>
                                    </div>

                                    <span class="thirty-minute" (click)="this.updatedCompany['field_15'][i]['closeTime']['minutes'] = '30'; closeEditTime()"></span>
                                </div>
                            </div>

                            <!-- Closint Times Period Edit -->
                            <span class="time-period time-button medium-blue-button"
                                  [ngClass]="{'on': this[days['day'] + 'CloseTimePeriodEditTimeButton']}"
                                  (click)="editPeriod(this.updatedCompany['field_15'][i], 'closeTime')">
                                    {{this.updatedCompany['field_15'][i]['closeTime']['period']}}
                            </span>
                        </div>
                    </div>
                </ng-template>
            </div>
        </section>

        <div  *ngIf="saveEnabled" class="save-container">
            <button class="cancel-button"><span (click)="cancel(); false">Cancel</span></button>
            <button class="orange-button">Save</button>
        </div>
    </form>
</div>



