@import "../../../sass/variables";
@import "../../../sass/mixins";

:host {
  min-height: 100vh;
  display: block;
}

.account-settings-container {

  .business-hours-container {
    padding-top: 5px;
    
    .day {
      font-size: 18px;
      font-weight: bold;
      display: block;
    }
  }

  .hours-container {
    margin-bottom: 20px;
  }
}

.dropdown-container {

  .dropdown-list {

    .list-open {
      position: absolute;
      top: 10px;
    }
  }
}               