@import "../../sass/variables";
@import "../../sass/mixins";

#profile-container {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  background-color: $medium-blue;
  padding: 70px 10%;
  color: $white;
  font-weight: bold;
}