@import "../../sass/variables";
@import "../../sass/mixins";

:host {
  min-height: 100vh;
  display: block;
}

#profile-container {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: $light-blue;
  min-height: 100vh;
  padding: $mobile-padding;

  .settings-category {
    position: relative;
    color: $white;
    font-size: 20px;
    padding: 20px 0 20px 15px;
    margin-bottom: 10px;
    border-radius: 3px;
  }

  .settings-category:hover {
    text-decoration: underline;
  }

  .settings-category:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 15px;
    background: url("../../assets/icons/next_page.png") no-repeat;
    background-size: 30px;
  }
}