@import "../../sass/variables";
@import "../../sass/mixins";

:host {
  height: 100%;
  display: block;
}

#profile-container {
  width: 100%;
  z-index: 1;
  background-color: $white;
  min-height: 100%;
}