<div id="profile-container">
    <div class="settings-category medium-blue-button">
        <span class="category-name">Account Settings</span>
    </div>
    <div class="settings-category medium-blue-button">
        <span class="category-name">Security Settings</span>
    </div>
    <div class="settings-category medium-blue-button">
        <span class="category-name">Terms of Service</span>
    </div>
    <div class="settings-category medium-blue-button"
    ><span class="category-name">Privacy Policy</span>
    </div>
</div>
