/*
The styles in this stylesheet are global element styles
*/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
