@import "../../sass/variables";
@import "../../sass/mixins";

#search-component {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 70px;

  #homepage-title {
    text-align: center;
    color: $white;
    width: 90%;
    margin: 0 auto -10px;
    transition: 0.5s opacity;

    span {
      font-size: 17px;
      line-height: 26px;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    }

    .search-logo-container {
      color: $white;

      .search-logo {
        width: 24%;
        max-width: 102px;
      }

      h4 {
        @include section-header;
      }
    }
  }

  #homepage-title.searchStarted {
    opacity: 0;
  }

  .search-help {
    @include form-label;
    color: $white;
    margin: 30px auto 5px;
  }

  #main-search-container {
    position: relative;
    z-index: 0;
    transition: 0.5s;
    top: 0px;
    
    #main-search {
      @include form-field;
    }
    
    .search-button {
      display: block;
      width: 44px;
      height: 44px;
      position: absolute;
      color: $white;
      background-color: $orange;
      bottom: 0;
      right: 5%;
    }

    .search-button:before {
      @include button-emboss(#FFF1A2, #FDDEA6, #d34c16, #7A3D16);
    }

    .search-button:after {
      content: '';
      display: block;
      width: 45px;
      height: 45px;
      background: url("../../assets/icons/search_icon.png") no-repeat 11px 10px;
      background-size: 27px;
    }

    .search-button:active {
      background-color: #d34c16;
      background-image: none;
      box-shadow: 0 1px 2px 0 #444 inset;
    }

    .search-button:active:before {
      background-color: #d34c16;
      background-image: none;
      box-shadow: 0 1px 2px 0 #444 inset;
    }

    .search-button.searchStarted {
      display: block;
      bottom: 140px;
    }
  }

  #main-search-container.searchStarted {
    top: -140px;
  }

  #main-search-container.searchSubmitted {
    z-index: -10;
  }
}