<div id="search-component">
    <div id="homepage-title" [ngClass]="{'searchStarted': searchStarted}">
        <div class="search-logo-container">
            <img src="../assets/images/gempathy_logo.png" class="search-logo">
            <h4>Gempathy</h4>
        </div>
        <span>The internet's largest gemstone<br /> and jewerly database</span>
    </div>

    <div id="main-search-container" [ngClass]="{'searchSubmitted': searchSubmitted,'searchStarted': searchStarted}">
        <span class="search-help" [ngClass]="{'searchStarted': searchStarted}">Keyword Search</span>
        <form (ngSubmit)="searchSubmit()" #searchForm="ngForm">
            <input type="text" id="main-search" placeholder="Begin Search Here"
                   name="searchf"
                   [ngClass]="{'error-highlight': searchError}"
                   (keydown.enter)="searchSubmit(); false"
                   (focus)="searchStart()"
                   (focusout)="appService.showNav()"
                   [(ngModel)]="searchText">
            <button type="submit" class="search-button"></button>
            <div class="desktop-search-login desktop">
                <div>
                    <span class="desktop-search-login-text">New to Gempathy?</span>
                    <span class="desktop-search-login-link" routerLink="/register" routerLinkActive="active">Sign Up</span>
                </div>
                <div>
                    <span class="desktop-search-login-text">Have an Account?</span>
                    <span class="desktop-search-login-link" routerLink="/login" routerLinkActive="active">Login</span>
                </div>
            </div>
        </form>
    </div>
</div>
