<div id="search-component">
  <div id="homepage-title">
    <span [ngClass]="{'searchStarted': searchStarted}">The internet's largest gemstone and jewerly database</span>
  </div>

  <div id="main-search-container" [ngClass]="{'searchSubmitted': searchSubmitted}">
    <span class="search-help" [ngClass]="{'searchStarted': searchStarted}">Keyword Search</span>
    <input type="text" id="main-search" placeholder="Begin Search Here"
          (focus)="searchStart()"
          [(ngModel)]="company"
          [ngClass]="{'searchStarted': searchStarted}">
    <span class="search-button"
          routerLink="search-result"
          [ngClass]="{'searchStarted': searchStarted}"
          (click)="searchSubmit()">Search</span>
  </div>

  <app-search-results
          (companiesReset)="companiesReset()"
          [companies$]="companies$"
          [company]="company"
          [searchSubmitted]="searchSubmitted">
  </app-search-results>
</div>
