<div id="search-component">
    <div id="homepage-title" [ngClass]="{'searchStarted': searchStarted}">
        <div class="search-logo-container">
            <img src="../assets/images/gempathy_logo.png" class="search-logo">
            <h4>Gempathy</h4>
        </div>
        <span>The internet's largest gemstone<br /> and jewerly database</span>
    </div>

    <div id="main-search-container" [ngClass]="{'searchSubmitted': searchSubmitted,'searchStarted': searchStarted}">
        <span class="search-help" [ngClass]="{'searchStarted': searchStarted}">Keyword Search</span>
        <input type="text" id="main-search" placeholder="Begin Search Here"
               (keydown.enter)="searchSubmit()"
               (focus)="searchStart()"
               [(ngModel)]="searchText">
        <span class="search-button"
              routerLink="/search-results"
              (click)="searchSubmit()"></span>
    </div>
</div>
