#search-component {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 70px; }
  #search-component #homepage-title {
    text-align: center;
    color: #F9FCFE;
    width: 90%;
    margin: 0 auto -10px;
    transition: 0.5s opacity; }
    #search-component #homepage-title span {
      font-size: 17px;
      line-height: 26px;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3); }
    #search-component #homepage-title .search-logo-container {
      color: #F9FCFE; }
      #search-component #homepage-title .search-logo-container .search-logo {
        width: 24%;
        max-width: 102px; }
      #search-component #homepage-title .search-logo-container h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        margin: -5px 0 15px;
        padding: 0;
        text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1); }
  #search-component #homepage-title.searchStarted {
    opacity: 0; }
  #search-component .search-help {
    display: block;
    margin: 0px auto 5px;
    width: 90%;
    position: relative;
    top: 0;
    color: #F9FCFE;
    margin: 30px auto 5px; }
  #search-component #main-search-container {
    position: relative;
    z-index: 0;
    transition: 0.5s;
    top: 0px;
    max-width: 800px;
    margin: 0 auto; }
    #search-component #main-search-container #main-search {
      background-color: #F9FCFE;
      -webkit-box-shadow: inset 10px 10px 5px -10.5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 10px 10px 5px -10.5px rgba(0, 0, 0, 0.75);
      box-shadow: inset 10px 10px 5px -10.5px rgba(0, 0, 0, 0.75);
      border: 0;
      display: block;
      margin: auto;
      max-height: 46px;
      width: 90%;
      padding: 13px 10px;
      font-size: 17px;
      position: relative;
      top: 0; }
    #search-component #main-search-container .search-button {
      display: block;
      width: 44px;
      height: 44px;
      position: absolute;
      color: #F9FCFE;
      background-color: #FF9018;
      bottom: 0;
      right: 5%;
      cursor: pointer; }
    #search-component #main-search-container .search-button:before {
      content: "";
      display: block;
      background-color: #FFF1A2;
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      z-index: -1;
      border-radius: 2px;
      background-image: linear-gradient(to bottom, #FDDEA6 0%, #d34c16 40%);
      box-shadow: 0px -1px 2px 0 #7A3D16 inset;
      cursor: pointer; }
    #search-component #main-search-container .search-button:after {
      content: '';
      display: block;
      width: 45px;
      height: 45px;
      background: url("../../assets/icons/search_icon.png") no-repeat 11px 10px;
      background-size: 27px; }
    #search-component #main-search-container .search-button:active {
      background-color: #d34c16;
      background-image: none;
      box-shadow: 0 1px 2px 0 #444 inset; }
    #search-component #main-search-container .search-button:active:before {
      background-color: #d34c16;
      background-image: none;
      box-shadow: 0 1px 2px 0 #444 inset; }
    #search-component #main-search-container .search-button.searchStarted {
      display: block;
      bottom: 140px; }
  #search-component #main-search-container.searchStarted {
    top: -140px; }
  #search-component #main-search-container.searchSubmitted {
    z-index: -10; }

/************** Search Container Desktop Styles **************/
@media (min-width: 1200px) {
  .search-logo-container {
    margin-top: 45px; }

  #homepage-title span {
    font-weight: bold;
    letter-spacing: 1.5px; }

  #search-component #main-search-container {
    width: 800px;
    margin: 0 auto; }
  #search-component .desktop-search-login {
    display: block;
    color: #F9FCFE;
    position: absolute;
    left: 5%;
    top: 80px;
    font-family: "Montserrat", sans-serif; }
    #search-component .desktop-search-login div {
      margin-bottom: 7px; }
    #search-component .desktop-search-login .desktop-search-login-text {
      font-weight: bold;
      margin-right: 7px;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3); }
    #search-component .desktop-search-login .desktop-search-login-link {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      text-decoration: underline;
      margin-bottom: 10px;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3); }
    #search-component .desktop-search-login .desktop-search-login-link:hover {
      color: #FF9018;
      cursor: pointer; } }

/*# sourceMappingURL=search.component.css.map */
