#search-component {
  
  #homepage-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 90%;
    margin: 15px auto 0;
    line-height: 26px;
  }

  #main-search {
    border: 1px solid #000000;
    display: block;
    margin: 30px auto 0;
    width: 90%;
    height: 50px;
    padding: 0 10px;
    font-size: 17px;
  }
}