:host {
  min-height: 100%; }

.search-details-container {
  position: relative;
  background-color: #ffffff;
  min-height: 100%;
  padding-top: 50px; }
  .search-details-container .close-details {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px; }
  .search-details-container .close-details:after {
    content: '';
    display: block;
    width: 31px;
    height: 31px;
    background: url(/assets/icons/ic_highlight_off_black_24dp_2x.png) no-repeat;
    background-position: -2px -2px;
    background-size: 35px; }
  .search-details-container header {
    position: fixed;
    top: 50px;
    height: 140px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #000000;
    display: flex; }
    .search-details-container header .company-logo-thumb-container img {
      display: block;
      width: 90%; }
    .search-details-container header .company-info-header-container {
      padding: 0 10px; }
      .search-details-container header .company-info-header-container h1 {
        font-size: 22px;
        margin: 0 0 7px;
        width: 90%; }
    .search-details-container header .reviews-avg {
      display: block;
      margin-bottom: 7px; }
    .search-details-container header .reviews-avg:after {
      content: '';
      display: block;
      width: 122px;
      height: 22px;
      background: url("/assets/images/reviews.png") no-repeat; }
    .search-details-container header .reviews-avg-0:after {
      background-position: 1px -244px; }
    .search-details-container header .reviews-avg-0-5:after {
      background-position: 1px -219px; }
    .search-details-container header .reviews-avg-1:after {
      background-position: 1px -194px; }
    .search-details-container header .reviews-avg-1-5:after {
      background-position: 1px -170px; }
    .search-details-container header .reviews-avg-2:after {
      background-position: 1px -146px; }
    .search-details-container header .reviews-avg-2-5:after {
      background-position: 1px -121px; }
    .search-details-container header .reviews-avg-3:after {
      background-position: 1px -97px; }
    .search-details-container header .reviews-avg-3-5:after {
      background-position: 1px -72px; }
    .search-details-container header .reviews-avg-4:after {
      background-position: 1px -48px; }
    .search-details-container header .reviews-avg-4-5:after {
      background-position: 1px -24px; }
    .search-details-container header .reviews-avg-5:after {
      background-position: 1px 0; }
    .search-details-container header .verified:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url("/assets/icons/ic_check_circle_black_24dp_2x.png");
      background-size: contain;
      position: relative; }
  .search-details-container .verified-details {
    display: flex;
    position: absolute;
    right: 14px;
    bottom: 8px; }
  .search-details-container .detail-description {
    margin-top: 140px;
    padding: 10px;
    border-bottom: 1px solid #000; }
    .search-details-container .detail-description h2 {
      margin: 0;
      padding: 0;
      font-size: 20px; }
    .search-details-container .detail-description .showroom-button {
      display: block;
      text-align: center;
      font-weight: bold;
      width: 120px;
      background-color: lightgray;
      border: 1px solid #000;
      padding: 12px 10px;
      margin: 10px 0 0 0; }
    .search-details-container .detail-description .truncate-toggle {
      text-decoration: underline;
      color: blue; }

/*# sourceMappingURL=search-details.component.css.map */
