<div class="search-details-container">
    <header>
        <div class="company-logo-thumb-container">
            <img src="{{company['field_5_raw']['thumb_url']}}" alt="{{company['field_3']}} Thumbnail Logo">
        </div>
        <div class="company-info-header-container">
            <h1>{{company['field_3']}}</h1>
            <span class="reviews-avg reviews-avg-{{company['field_32_raw_image']}}"></span>
            <span class="reviews-count">{{company['field_31']}} reviews</span>
            <div *ngIf="company['field_29'] === 'True'">
                Trusted <span class="verification" [ngClass]="{'verified': company['field_29']}"></span>
            </div>

        </div>

    </header>
</div>

