@import "../../../sass/variables";
@import "../../../sass/mixins";

:host {
  min-height: 100%;
}

.search-details-container {
  position: relative;
  background-color: $white;
  min-height: 100%;
  padding: 50px 0 62px;
  color: $dark-blue;

  hr {
    margin: 20px auto;
  }

  .close-details {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
  }

  .close-details:after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url(/assets/icons/ic_highlight_off_black_24dp_2x.png) no-repeat;
    background-position: -2px -2px;
    background-size: 25px;
  }

  header {
    position: fixed;
    z-index: 10;
    top: 50px;
    height: 140px;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: $medium-blue;
    color: $white;

    .drop-shadow-effect {
      display: block;
      width: 100%;
      position: absolute;
      bottom: -7px;
      height: 7px;
      left: 0;
      @include box-shadow;
    }

    .company-logo-thumb-container {

      img {
        display: block;
        width: 90%;
        background-color: $white;
      }
    }

    .company-info-header-container {
      padding: 0 10px;

      h1 {
        font-size: 22px;
        margin: 0 0 7px;
        width: 90%;
      }
    }

    .reviews-avg {
      display: block;
      margin-bottom: 7px;
    }

    .reviews-avg:after {
      content: '';
      display: block;
      width: 122px;
      height: 22px;
      background: url("/assets/images/reviews.png") no-repeat;
    }

    .reviews-avg-0:after {
      background-position: 1px -244px;
    }
    .reviews-avg-0-5:after {
      background-position: 1px -219px;
    }
    .reviews-avg-1:after {
      background-position: 1px -194px;
    }
    .reviews-avg-1-5:after {
      background-position: 1px -170px;
    }
    .reviews-avg-2:after {
      background-position: 1px -146px;
    }
    .reviews-avg-2-5:after {
      background-position: 1px -121px;
    }
    .reviews-avg-3:after {
      background-position: 1px -97px;
    }
    .reviews-avg-3-5:after {
      background-position: 1px -72px;
    }
    .reviews-avg-4:after {
      background-position: 1px -48px;
    }
    .reviews-avg-4-5:after {
      background-position: 1px -24px;
    }
    .reviews-avg-5:after {
      background-position: 1px 0;
    }

    .verified:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url('/assets/icons/verified.png');
      background-size: contain;
      position: relative;
    }
  }

  .verified-details {
    display: flex;
    position: absolute;
    right: 1px;
    bottom: 8px;

    span {
      margin-right: 6px;
    }

    .verification {
      position: relative;
      top: -2px;
    }
  }

  .gallery-button {
    display: block;
    width: 120px;
    padding: 11px 0;
    text-align: center;
    flex-grow: 1;
    background-color: $light-blue;
    color: $dark-blue;
    margin: 10px 0 0 0;
    border-radius: 2px;
    position: relative;
  }

  .gallery-button:before {
    @include button-emboss($light-blue, $white, #9ea3db, #6d728C);
  }

  .gallery-button:active {
    background-color: #9ea3bd;
  }

  .gallery-button:active:before {
    background-color: #9ea3bd;
    background-image: none;
    box-shadow: 0 1px 2px 0 #444 inset;
  }

  .detail-description {
    margin-top: 140px;
    padding: 10px;
    border-bottom: 1px solid #000;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    .truncate-toggle {
      text-decoration: underline;
      color: $dark-blue;
    }
  }

  .detail-info {
    padding: 10px;
    position: relative;
  }
  
  .country-flag {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  agm-map {
    width: 99%;
    height: 200px;
    margin: auto;
    display: block;
    background-color: $yellow;
  }

  #map-container {
    width: 100%;
    height: 202px;
    border: 1px solid $dark-blue;
    position: relative;
    margin: 20px 0 20px;
    right: 0px;
    top: 0px;
    opacity: 1;
    transition: 0.3s height;
  }

  #map-container.hidden {
    height: 0;
    opacity: 0;
    transition: 0.3s height;
  }
}

.social-media,
.email-address,
.website-url,
.phone-number {
  position: relative;
  margin-bottom: 20px;
  display: block;

  a {
    position: relative;
    left: 30px;
    top: 5px;
    color: $dark-blue;
  }
}

.social-media:after,
.email-address:after,
.website-url:after,
.phone-number:after {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.phone-number:after {
  background: url("/assets/icons/med_blue_phone_icon.png") no-repeat;
  background-size: contain;
}

.website-url:after {
  background: url("/assets/icons/med_blue_globe_icon.png") no-repeat;
  background-size: contain;
}

.email-address:after {
  background: url("/assets/icons/med_blue_mail_icon.png") no-repeat;
  background-size: contain;
}

.facebook:after {
  background: url("/assets/icons/med_blue_facebook_icon.png") no-repeat;
  background-size: contain;
}

.instagram:after {
  background: url("/assets/icons/med_blue_instagram_icon.png") no-repeat;
  background-size: contain;
}

.pinterest:after {
  background: url("/assets/icons/med_blue_pinterest_icon.png") no-repeat;
  background-size: contain;
}

.twitter:after {
  background: url("/assets/icons/med_blue_twitter_icon.png") no-repeat;
  background-size: contain;
}

.wechat:after {
  background: url("/assets/icons/med_blue_wechat_icon.png") no-repeat;
  background-size: contain;
}

.line:after {
  background: url("/assets/icons/med_blue_line_icon.png") no-repeat;
  background-size: contain;
}

.youtube:after {
  background: url("/assets/icons/med_blue_youtube_icon.png") no-repeat;
  background-size: contain;
}

/************** Search Details Container Desktop Styles **************/
@media (min-width: $desktop) {
  .search-details-container {
    width: 1242px;
    min-height: 900px;
    margin: auto;

    header {
      width: 1242px;
      height: 202px;
      top: 64px;
      padding: 25px;

      .company-logo-thumb-container {
        margin: 0 15px 0 0;
        background-color: $white;
        
        img {
          display: block;
          width: 150px;
          height: 150px;
        }
      }

      .company-info-header-container {
        padding: 9px 10px 0;

        h1 {
          font-size: 30px;
          margin: 0 0 7px;
          width: 100%;
        }
      }
    }

    .country-flag {
      position: relative;
      left: 0px;
      top: 8px;
    }

    .verified-details {
      right: 13px;
      bottom: 14px;

      span {
        margin-right: 6px;
      }

      .verification {
        position: relative;
        top: -2px;
      }
    }
    
    .detail-description {
      width: 1195px;
      margin: 215px auto 0;
      padding: 25px 0;
    }

    .detail-info {
      padding: 25px;
      position: relative;
    }

    .address {
      margin-bottom: 30px;
    }

    agm-map {
      width: 398px;
      height: 300px;
      margin: auto;
      display: block;
      background-color: $yellow;
    }

    #map-container {
      width: 400px;
      height: 302px;
      border: 1px solid $dark-blue;
      position: absolute;
      right: 25px;
      top: 25px;
    }

    hr {
      border: 1px solid $white;
    }

    .address {
      line-height: 22px;
    }
  }
}