<div id="register-component">
  <section class="register-section">

    <p *ngIf="registerService.registrationSuccess; else notRegistered">Successful Registration</p>
    <ng-template #notRegistered>
      <div class="register-field-container">
        <h4>Sign Up with Gempathy</h4>

        <div class="role-selector-container">
          <div class="role-container"
               [ngClass]="{'role-selected': individualRole == true}"
               (click)="roleSelect('individual')">
            <div class="individual-icon role-icon">
              <img src="../../assets/icons/individual_icon.png" height="75" width="75"/>
            </div>
            <span>Individual</span>
          </div>
          <h4>Or</h4>
          <div class="role-container"
               [ngClass]="{'role-selected': individualRole == false}"
               (click)="roleSelect('business')">
            <div class="business-icon role-icon">
              <img src="../../assets/icons/business.png" height="75" width="75"/>
            </div>
            <span>Business</span>
          </div>
        </div>

        <!-- These aren't required so maybe we will go without them for now-->
        <!--<span class="register-input-label">first name</span>
        <input type="text" class="register-input-form">

        <span class="register-input-label">last name</span>
        <input type="text" class="register-input-form">-->

        <form (ngSubmit)="submitRegistration()" #registerForm="ngForm">
          <span class="register-input-label">email</span>
          <input type="email" class="register-input-form"
                 name="email"
                 (focus)="appService.fieldFocus()"
                 (focusout)="appService.showNav()"
                 (keyup.enter)="submitRegistration()"
                 [(ngModel)]="email"
                 required>

          <span class="register-input-label">password</span>
          <input type="password" class="register-input-form"
                 name="password"
                 (focus)="appService.fieldFocus()"
                 (focusout)="appService.showNav()"
                 (keyup.enter)="submitRegistration()"
                 [(ngModel)]="password"
                 required>

          <span class="register-input-label">confirm password</span>
          <input type="password"
                 name="password-confirm"
                 (focus)="appService.fieldFocus()"
                 (focusout)="appService.showNav()"
                 (keyup.enter)="submitRegistration()"
                 class="register-input-form"
                 required>
          <br />
          <button type="submit" class="submit-registration orange-button">Submit</button>
        </form>
      </div>
    </ng-template>
  </section>
</div>